<!DOCTYPE html>
<html>
  <head>
    <title>Product Query!</title>
  </head>
  <body>
    <body><align="center">
	<br />
	<br />
	<h2 align='center'>MJ Edited Enter The Data To Be Queried !</h2>
      
	<br />
	<br />
      <form action="/sign" method="post" align='center'>
		
        <div>Enter The Product Catogery eg(Computers) : <input type="text" name="mag" style="border: 1px solid black"></div>
		<br />
		<div>Enter The State Name : <input type="text" name="loc" style="border: 1px solid black"></div>
		<br />
		<br />
		<br />
		<br />
        <div><input type="submit" value="Submit Query"></div>
      </form>
  </body>
</html>